<% @produtos.each do |produto| %>
  <div class="col-sm-6 col-md-4">
    <div id="produto" class="thumbnail">

      <%= produto.foto.present? ? image_tag(produto.foto) : image_tag("test.jpg")  %>

      <div class="caption">
        <h4>
          <%= produto.descricao %>
        </h4>
        <button type="button" class="btn btn-warning btn-lg btn-block active">
          <% if can? :read, produto %>
            <%= "R"+number_to_currency(produto.preco) %>
          <% else %>
            <%= link_to "Preço: cadastre-se ou pelo skype", new_user_registration_path %>
          <% end %>
        </button>
        <p>
          <% if can? :update, produto %>
            <div class="well well-small actions">
              <%= link_to ' editar',
                      edit_produto_path(produto), :class => 'btn btn-primary' %>
          <% end %>
          <% if can? :destroy, produto %>
            <%= link_to ' deletar',
                      produto, method: 'delete', :data => { :confirm => 'Tem certeza?' }, :class => 'btn btn-danger' %>
            </div>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
