<div class="row">
  <div class="col-sm-2 col-md-1">
    <div id="marcas" class="btn-group-vertical" role="group" aria-label="..."
      data-spy="affix" data-offset-top="200">

      <%= link_to search_produtos_path(query: "samsung"), {class: "btn btn-default"} do %>
          <strong>Samsung</strong>
      <% end %>

      <%= link_to search_produtos_path(query: "mot"), {class: "btn btn-default"} do %>
          <strong>Motorola</strong>
      <% end %>

      <%= link_to search_produtos_path(query: "iphone"), {class: "btn btn-default"} do %>
          <strong>Apple</strong>
      <% end %>

      <%= link_to search_produtos_path(query: "LG"), {class: "btn btn-default"} do %>
          <strong>LG</strong>
      <% end %>

      <%= link_to search_produtos_path(query: "Nokia"), {class: "btn btn-default"} do %>
          <strong>Nokia</strong>
      <% end %>

      <%= link_to search_produtos_path(query: "Sony"), {class: "btn btn-default"} do %>
          <strong>Sony</strong>
      <% end %>

    </div>
  </div>

  <div class="col-sm-10 col-md-11">
    <div id="searchbar" class="col-sm-10 col-md-12">
        <%= form_tag search_produtos_path, class: "form-search", method: :get do %>
          <div class="input-group">

            <%= text_field_tag :query, params[:query], class: "form-control search-query",
                placeholder: "bateria Samsung" %>

                <span class="input-group-btn">
                  <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>


                  <% if user_signed_in? %>
                    <span class="btn-group" role="group">
                      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <strong><%= current_user.email %></strong>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">

                        <% if can? :create, @produtos %>
                          <li style="background: #f0ad4e">
                            <%= link_to " Adicionar Produto", new_produto_path, class:"glyphicon glyphicon-cloud-upload" %>
                          </li>
                        <% end %>

                        <li><%= link_to " Trocar Senha", edit_user_registration_path, class: "glyphicon glyphicon-pencil" %></li>
                        <li><%= link_to " Sair", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
                      </ul>
                    </span>

                  <% else %>
                    <span class="btn-group" role="group">
                      <%= link_to " Login", new_user_session_path, class: "btn btn-success" %>
                    </span>

                  <% end %>
              </span>
           </div>
        <% end %>
    </div>

    <div id="produtos">
      <%= render 'listadeprodutos' %>
    </div>
  </div>
</div>
