<div class="container">

  <div class="row">
    <div class="col-md-1">
      <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-lg">Samsung</button>
        <button type="button" class="btn btn-default btn-lg">Motorola</button>
        <button type="button" class="btn btn-default btn-lg">Apple</button>
        <button type="button" class="btn btn-default btn-lg">Button</button>
        <button type="button" class="btn btn-default btn-lg">Button</button>
        <button type="button" class="btn btn-default btn-lg">Button</button>
        <button type="button" class="btn btn-default btn-lg">Button</button>
      </div>
    </div>

    <div class="col-md-11">
      <% @produtos.each do |produto| %>
        <div class="col-md-4">
          <div id="produto" class="thumbnail">

            <%= produto.foto.present? ? image_tag(produto.foto) : image_tag("test.jpg")  %>

            <div class="caption">
              <h4>
                <%= produto.descricao %>
              </h4>
              <button type="button" class="btn btn-warning btn-lg btn-block active">
                <%= number_to_currency(produto.preco) %>
              </button>
              <p>
                <%= link_to 'Show', produto %> |
                <%= link_to 'Edit', edit_produto_path(produto) %> |
                <%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <br>

  <%= form_tag import_produtos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>

  <%= link_to 'New Produto', new_produto_path %>
</div>
