<!DOCTYPE html>
<html>
<head>
  <title>Cell Sul Atacado</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
		    <div class="navbar" role="navigation">

          <%= link_to image_tag("csa.jpg", class: "navbar-header"), root_path %>

          <ul id="skype" class="nav navbar-nav">
            <li class="thumbnail">
              <h2 class="text-center">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                SKYPE - Online!
              </h2>
              <h3 class="text-center">
                blablabla@msn.com
              </h3>
            </li>
          </ul>
        </div>
    </div>
  </header>

  <div class="container">
    <nav class="navbar" role="navigation">
      <div class="container">

            <ul class="nav navbar-nav">
              <li><a><strong>capinhas</strong></a></li>
              <li><%= link_to (raw("<strong>adesivos</strong>")), search_produtos_path(query: "adesivo") %></li>
              <li><%= link_to (raw("<strong>baterias</strong>")), search_produtos_path(query: "bat") %></li>
              <li><%= link_to (raw("<strong>audio</strong>")), search_produtos_path(query: "audio") %></li>
              <li><%= link_to (raw("<strong>carregadores</strong>")), search_produtos_path(query: "carregador") %></li>
              <li><%= link_to (raw("<strong>displays</strong>")), search_produtos_path(query: "display") %></li>
              <li><%= link_to (raw("<strong>microfones</strong>")), search_produtos_path(query: "microfone") %></li>
              <li><%= link_to (raw("<strong>películas</strong>")), search_produtos_path(query: "pelicula") %></li>
              <li><%= link_to (raw("<strong>pen drives</strong>")), search_produtos_path(query: "pen drive") %></li>
              <li><%= link_to (raw("<strong>touch</strong>")), search_produtos_path(query: "touch") %></li>
              <li><%= link_to (raw("<strong>TPU</strong>")), search_produtos_path(query: "tpu") %></li>
              <li><%= link_to (raw("<strong>alcool isopropílico</strong>")), search_produtos_path(query: "alcool isopropilico") %></li>
            </ul>
      </div>
    </nav>
  </div>



  <div id="wrap">
    <%= yield %>
  </div>

	<div id="footer">
		<div class="container">
			<div class="row">
			<br>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<span>about</span>
				</div>
				<div class="col-md-4">
					<span>tools</span>
				</div>
				<div class="col-md-3">
					<span>privay</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
