<!DOCTYPE html>
<html>
<head>
  <title>Cell Sul Atacado</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
		    <div class="navbar" role="navigation">

          <%= link_to image_tag("csa.jpg", class: "navbar-header"), root_path %>

          <ul id="skype" class="nav navbar-nav">
            <li class="thumbnail">
              <h2>
                SKYPE - Online Agora!
              </h2>
              <h3 class="text-center">
                blablabla@msn.com
              </h3>
            </li>
          </ul>
        </div>
    </div>
  </header>

  <div class="container">
    <nav class="navbar" role="navigation">
      <div class="container">

            <ul class="nav navbar-nav">
              <li><a><strong>capinhas</strong></a></li>
              <li><a><strong>adesivos</strong></a></li>
              <li><a><strong>baterias</strong></a></li>
              <li><a><strong>audio</strong></a></li>
              <li><a><strong>carregadores</strong></a></li>
              <li><a><strong>displays</strong></a></li>
              <li><a><strong>microfones</strong></a></li>
              <li><a><strong>películas</strong></a></li>
              <li><a><strong>pen drives</strong></a></li>
              <li><a><strong>touch</strong></a></li>
              <li><a><strong>tpu</strong></a></li>
              <li><a><strong>alcool isopropílico</strong></a></li>
            </ul>
      </div>
    </nav>
  </div>



  <div id="wrap">
    <%= yield %>
  </div>

	<div id="footer">
		<div class="container">
			<div class="row">
			<br>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<span>about</span>
				</div>
				<div class="col-md-4">
					<span>tools</span>
				</div>
				<div class="col-md-3">
					<span>privay</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
